{{define "app"}}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	{{template "style"}}
	<title>NJW</title>
</head>

<body class="bg-dark text-light">

	{{template "navbar"}}

	<div class="my-spacer"></div>

	<div class="clickable jumbotron-fluid text-center bg-primary" onclick="window.location='/'">
		<h1 class="display-4">Nathaniel J. Wheeler</h1>
		<p class="lead">Full-Stack Web Developer</p>
	</div>

	<div>
		{{template "yield" .}}
	</div>

	<div class="my-spacer"></div>

	<footer class=" container-fluid text-center">
		<hr class="border-secondary">
		<p>
			This site was made by me using <a href="https://golang.org/">Go</a>.
		</p>
	</footer>

	<div class="my-spacer"></div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</body>

</html>
{{end}}