{{define "navbar"}}
<!-- 
	TODO: Fix navbar placement issue
		Issue: because I turned off the toggle feature of bootstrap navbar, the placement of the navbar is all weird.  I have to put a vertical spacer below it in app.html to make non-home pages display correctly.
		Problem with fix: the home page looks like shit.
-->
<nav class="navbar navbar-expand fixed-top navbar-dark bg-primary">
	<a href="/" class="navbar-brand">Nathaniel J. Wheeler</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent"
		aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse " id="navContent">
		<ul class="navbar-nav">

			<li class="nav-item"><a class="nav-link" href="/resume">
					Resume
				</a></li>

			<!-- Ideally, I want Login right-aligned -->
			<li class="nav-item"><a class="nav-link" href="/login">
					Login
				</a></li>
		</ul>
	</div>
</nav>
{{end}}