.badge,
.btn,
.card,
.jumbotron,
.navbar-toggler,
.form-control {
	border-radius: 0;
}

.hero-background {
	background-image: url("/images/static/hero-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hero-overlay {
	background: rgba(0,0,0,.4);
	position: absolute;
	height: 100%;
	top: 0;
	filter: blur(4px);
	width: 100%;
}

.hero-shadow {
	text-shadow: 0px 0px 2px black;
}
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .hero-shadow {
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
  }
}

.my-spacer {
	height: 20vh;
}

.nav-spacer {
	height: 56px
}

.clickable:hover {
	cursor: pointer;
}

.navform {
	cursor: pointer;
}

.flex-align-center {
	display: flex;
	align-items: center;
	/* padding-right: 100px; */
}

.spotlight h1 {
	text-align: center;
	margin-bottom: 1rem;
}