.badge,
.btn,
.card,
.jumbotron,
.navbar-toggler,
.form-control {
	border-radius: 0;
}

.my-spacer {
	height: 20vh;
}

.nav-spacer {
	height: 56px
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.clickable:hover {
	cursor: pointer;
}

.navform {
	cursor: pointer;
}