main {
	margin-top: 30px
}

.hero-background {
	position: relative;
	background-image: url("/images/static/hero-background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.hero-overlay {
	background: rgba(0,0,0,.4);
	position: absolute;
	height: 100%;
	top: 0;
	filter: blur(4px);
	width: 100%;
}
.hero-shadow {
		text-shadow: 0 0 1px black, 0 0 2px black, 0 0 4px black, 0 0 6px black, 0 0 8px black, 0 0 12px black, 0 0 16px black;
}

.my-spacer {
	height: 20vh;
}

.nav-spacer {
	height: 56px
}

.clickable:hover {
	cursor: pointer;
}

.navform {
	cursor: pointer;
}

.flex-align-center {
	display: flex;
	align-items: center;
}

/* Markdown Styling */

.post-md {
	margin-bottom: 2rem;
}

.post-md h1 {
	text-align: center;
	margin-top: -1rem;;
	margin-bottom: 1.5rem;
}

.post-md p {
	white-space: pre-wrap;
}

/* Bootstrap: no curved borders */
.badge,
.btn,
.card,
.jumbotron,
.navbar-toggler,
.form-control {
	border-radius: 0;
}