{{define "yield"}}
<div class="jumbotron bg-secondary text-light">
	<div class="container">
		<header class="row">
			<div class="col-12 col-md-6 order-1 order-md-2">
				<img src="http://placehold.it/300x300.png" alt="">
			</div>
			<div class="col-12 col-md-6 order-2 order-md-1">
				<h1 class="display-4">Welcome!</h1>
				<p>
					I am a full-stack web developer who works in Go, C#, and JavaScript.  I use Node/Express, Vue.js, Svelte.js, and ASP.NET. <br> <br>
					I also like to write.  Click below to get all of my latest posts!  I'm sure you will find them moderately entertaining.
				</p>
				<br>
				<a href="/subscribe" class="btn btn-success btn-lg">Sign-up for my email list!</a>
			</div>
		</header>
		<hr class="my-4">
		<main class="row">
			<div class="col">
				<h5 class="text-center"><em>Latest Post:</em></h5>
				<h2>Title</h2>
				<p class="lead">First paragraph goes here.</p>
				<br>
				<div class="row d-flex justify-content-between px-4">
					<a class="btn btn-primary btn-lg" href="#" role="button">Continue reading</a>
					<a class="btn btn-light btn-lg" href="/contact" role="button">Contact me</a>
				</div>
			</div>
		</div>
	</div>
</div>
{{end}}