{{define "yield"}}

<div class="jumbotron bg-dark text-light">
	<div class="container">
		<header class="row">
			<div class="col-12 col-md-6 order-1 order-md-2">
				<img class="center-img" src="https://i.ibb.co/syq3fQx/baldy-balcony.jpg" alt="">
			</div>
			<div class="col-12 col-md-6 order-2 order-md-1">
				<h1 class="display-4 text-center">Welcome!</h1>
				<p>
					I am a full-stack web developer who works in Go, C#, and JavaScript.  I use Node/Express, Vue.js, Svelte.js, and ASP.NET frameworks. <br> 
					
				</p>
				<p class="d-flex justify-content-center">
					<button class="btn btn-primary" onclick="window.location.href='/resume'">Check out my resume!</button> 
				</p>
				<p>
					To get in contact, please send an email to <a href="mailto:contact@nathanielwheeler.com">contact@nathanielwheeler.com</a>.
				</p>
			</div>
		</header>
		<hr class="my-4">

	</div>
</div>
{{end}}