{{define "yield"}}
<main class="container">
	<div class="row">
		<h3 class="col-12 text-center">
			Full-Stack Web Developer
		</h3>
	</div>
	<div class="row">
		<h4 class="col-12">Summary</h4>
		<p class="lead col-12">
			Prior to becoming a dedicated programmer, I studied visual art, geophysics, and then higher mathematic,
			which gave me a strong foundation in design, technical writing, and formal logic. While I loved every
			subject that I studied, I realized that I have a knack for problem-solving and an ability to explain
			abstract concepts with clarity. I began to teach myself code, using free online resources like <a
				href="https://www.freecodecamp.org/">freeCodeCamp</a> to learn fundamentals. <br> <br>
			Soon, I got to the point where I needed more than online tutorials. I spent 3 months at the Immersive
			Full-Stack Web Development course at <a href="https://boisecodeworks.com/">CodeWorks</a>, one of the best
			experiences of my life. Their portfolio-based curriculum and collaborative agile-based environment was
			invaluable to understanding and working within the complex internet world we live in today. <br> <br>
			Since graduating from CodeWorks, I have continued to develop skills on my own. I have learned how to use <a
				href="https://golang.org/">Go</a>
			for web development, as this very website can attest. In addition, I have returned to higher education and
			am applying myself to earn a Bachelor's in Computer Science.
		</p>
	</div>
	<div class="card border-primary bg-dark">
		<div class="card-body text-center">
			<p class="card-text">
				To get in touch, please send an email to
				<a href="mailto:nathan@mailftp.com">
					nathan@mailftp.com
				</a>.
			</p>
		</div>
	</div>
</main>
{{end}}