{{define "yield"}}
<main class="container">
	<div class="row">
		<div class="col-12 offset-md-2 col-md-8 offset-lg-2 col-lg-6">

			<div class="card border-light bg-dark">
				<div class="card-body">

					<h3 class="card-title text-center">
						Register
					</h3>
					<div class="card-text">
						{{template "registerForm"}}
					</div>
					<p class="card-text text-center">
						Already have an account?  <a href="/login">Click here to login!</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</main>
{{end}}

{{define "registerForm"}}
<form action="/register" method="POST">
	<div class="form-group">

		<div class="row">
			<label for="name" class="col-12">
				Name
				<input class="form-control" type="name" name="name" id="name" placeholder="Ken Thompson">
			</label>
		</div>
		<div class="row">
			<label for="email" class="col-12">
				Email Address
				<input class="form-control" type="email" name="email" id="email"
					placeholder="gopherfan70@example.com">
			</label>
		</div>
		<div class="row">
			<label for="password" class="col-12">
				Password
				<input class="form-control" type="password" name="password" id="password"
					placeholder="Use a password manager!">
			</label>
		</div>
		<br>
		<div class="row d-flex justify-content-center">
			<button class="btn btn-success btn-lg" type="submit">Register!</button>
		</div>

	</div>
</form>
{{end}}