{{define "yield"}}
<main class="container">
	<div class="row">
		<div class="col">

			<div class="card border-primary bg-dark">
				<div class="card-body">

					<h3 class="card-title text-center">
						Registration
					</h3>
					<p class="card-text lead">
						Sign up to comment on posts!
					</p>
					<div class="card-text">
						{{template "registerForm"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{end}}

<!-- TODO: Add optional fields for name, etc. -->
{{define "registerForm"}}
<form action="/register" method="POST">
	<div class="form-group container-fluid">
		<div class="row">
			<label for="name" class="col-12">
				Full Name
				<input class="form-control" type="name" name="name" id="name" placeholder="Jane Smith">
			</label>
		</div>
		<div class="row">
			<label for="email" class="col-12">
				Email Address
				<input class="form-control" type="email" name="email" id="email" placeholder="you@example.com">
			</label>
		</div>
		<div class="row">
			<label for="password" class="col-12">
				Password
				<input class="form-control" type="password" name="password" id="password" placeholder="Password123">
			</label>
		</div>
		<button class="btn btn-primary" type="submit">Register</button>
	</div>
</form>
{{end}}