{{define "yield"}}
<main class="container">
	<div class="row">
		<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">

			<div class="card border-light bg-dark">
				<h3 class="card-header border-light text-center">
					Edit Post
				</h3>
				<div class="card-body">

					<div class="card-text">
						{{template "editPostForm" .}}
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">

			<div class="card border-light bg-dark">
				<h3 class="card-header border-light text-center">
					Upload Images
				</h3>
				<div class="card-body">

					<div class="card-text">
						{{template "uploadImageForm"}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{{end}}

{{define "editPostForm"}}
<!-- POST /posts/:year/:title/update -->
<form action="/posts/{{.Year}}/{{.URLTitle}}/update" method="POST">
	<div class="form-group">

		<div class="row">
			<label for="title" class="lead col-12">
				Title
				<input type="text" name="title" id="title" placeholder="The Great American Blog Post" value="{{.Title}}"
					class="form-control">
			</label>
		</div>
		<br>
		<div class="row d-flex justify-content-center">
			<button type="submit" class="btn btn-success btn-lg">
				Update!
			</button>
		</div>
		<br>
	</div>
</form>

<!-- POST /posts/:year/:title/delete -->
<form action="/posts/{{.Year}}/{{.URLTitle}}/delete" method="POST">
	<div class="form-group">

		<div class="row d-flex justify-content-center">
			<button type="submit" class="btn btn-danger btn-lg">
				Delete!
			</button>
		</div>
	</div>
</form>
{{end}}

{{define "uploadImageForm"}}
<form action="/posts/{{.Year}}/{{.URLTitle}}/images" method="POST" enctype="multipart/form-data">
	<div class="form-group row">
		<div class="col-12">

			<p class="form-text">Please only use jpg, jpeg, and png.</p>
			<input type="file" multiple="multiple" id="images" name="images">
		</div>
	</div>
	<div class="row d-flex justify-content-center">
		<button type="submit" class="btn btn-primary btn-lg">
			Upload!
		</button>
	</div>
</form>
{{end}}