{{define "yield"}}

<div class="jumbotron bg-dark text-light">
	<div class="container">
		<header class="row">
			<div class="col-12 col-md-5 order-0">
				<img class="center-img jumbo-pic" src="https://i.ibb.co/syq3fQx/baldy-balcony.jpg" alt="">
			</div>
			<div class="col-12 col-md-6 order-1 jumbo-lead">
				<p class="lead text-center">
					I am a full-stack web developer who works in Go, C#, and JavaScript. I use Node/Express, Vue.js, Svelte.js,
					and ASP.NET frameworks.
				</p>
			</div>
		</header>
		{{if .Body}}
		<hr class="my-4 border-light">
		<div class="row">
			<div class="col-12 spotlight">
				{{.Body | renderHTML}}
			</div>
		</div>
		{{end}}

	</div>
</div>
{{end}}