{{define "yield"}}
<br>
<main class="container">
	<div class="row">
		<div class="col-12 offset-md-1 offset-lg-2 offset-xl-3 col-md-10 col-lg-8 col-xl-6">
			{{if .FilePath}}
			<div class="post-md">
				{{.FilePath | markdownFromFilePath}}
			</div>
			{{else}}
			<div class="alert alert-danger">
				<button class="btn btn-secondary close" type="button" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="text-center">
					Uh... was that supposed to happen?
				</div>
			</div>
			{{end}}
		</div>
	</div>
</main>
{{end}}